@font-face {
  font-family: 'Gilroy Regular';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url('../fonts/Gilroy-Bold.eot');
  src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Bold.woff') format('woff'),
  url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url('../fonts/Gilroy-Medium.eot');
  src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Medium.woff') format('woff'),
  url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$black: #141414;
$darkgray: #666666;
$gray: #aaaaaa;
$white: #fff;
$orange: #f25822;
$green: #149211;
$yellow: #ffcd1d;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: $black;
  font: 16px 'Gilroy Regular';
}

h1 {
  font-size: 3.75em;
}

h2 {
  font-size: 2.82em;
}

h3 {
  font-family: 'Gilroy Bold';
  font-size: 1.5em;
}

h4 {
  font-family: 'Gilroy Bold';
  font-size: 1.25em;
}

.header {
  position: fixed;
  width: 100%;
  padding: 40px 0;
  background: $white;
  z-index: 1000;
  // border: 1px solid green;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .logo {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font: 1.5em 'Gilroy Bold';
    text-decoration: none;

    &__img {
      margin-right: 14px;
    }

    &__text {
      color: #000000;

      & span {
        color: #f25822;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
  }
}

.menu {

  &__item {
    & + & {
      margin-left: 30px;
    }

    &:hover .menu__link {
      color: #f25822;
    }
  }

  &__link {
    font: 14px 'Gilroy Bold';
    color: #111111;
    text-decoration: none;
    transition: color .2s;
    white-space: nowrap;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: rgba($orange, .25);
  color: $orange;
  font: 1em 'Gilroy Bold';
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background: $orange;
    color: $white;
    box-shadow: 4px 4px 8px rgba($orange, 0.3);
  }

  &--header {
    margin-left: 30px;
    width: 120px;
    height: 40px;
    font-size: 0.75em;
  }

  &--video {
    width: 150px;
    background: transparent;
    color: $gray;
    box-shadow: none;
    transition: color .2s;

    &:hover {
      background: transparent;
      color: $black;
      box-shadow: none;
    }

    & .button__icon {
      margin-right: 15px;
    }
  }
}

.main {
  width: 100%;
  position: relative;
  padding-top: 120px;
}

.section {
  position: relative;
  width: 100%;
  // background: rgb(224, 224, 255);

  &__title {
    color: $black;
    font-family: 'Gilroy Bold', sans-serif;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 35px;
  }
}

.container {
  position: relative;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  // background: rgb(255, 208, 208);
}

.homepage {

  &__inner {
    position: relative;
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    max-width: 500px;
    background: $white;
    background: linear-gradient(90deg, $white 85%, rgba($white, 0) 100%);
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    font: 1.25em 'Gilroy Medium';
  }

  &__controls {
    display: flex;

    .button + .button {
      margin-left: 30px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;

    .background {

      &__img {
        position: absolute;
        top: 0;
        right: 5%;
        height: 100%;
      }

      &__polygon {
        &-1, &-2, &-3 {
          position: absolute;
          width: 50px;
          height: 50px;
          animation: scaling ease-in-out infinite;

          &--svg {
            animation: rotation linear infinite;
          }
        }

        &-1 {
          top: 23%;
          left: 14%;
          animation-duration: 4s;

          &--svg {
            animation-duration: 4.8s;
          }
        }

        &-2 {
          top: 6%;
          left: 50%;
          animation-duration: 5.3s;

          &--svg {
            animation-duration: 5.5s;
          }
        }

        &-3 {
          bottom: 30%;
          left: 48%;
          animation-duration: 6.5s;

          &--svg {
            animation-duration: 3.9s;
          }
        }
      }
    }
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.brands {

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
  }

  &__link {
    text-decoration: none;

    &:hover .brands__img {
      filter: sepia(50%);
    }
  }

  &__img {
    transition: filter .2s;
  }
}

.about-us {

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 515px;
    padding: 125px 0;
  }

  &__text {
    line-height: 24px
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    .background {
      &__img {
        position: absolute;
        top: 0;
        right: 14%;
        height: 100%;
      }

      &__wave {
        &-1, &-2 {
          position: absolute;
          z-index: -1;
        }

        &-1 {
          top: 0;
          left: 0;
          animation: waving-1 17s ease-in-out infinite;
        }

        &-2 {
          top: 0;
          left: -1080px;
          animation: waving-2 20s ease-in-out infinite;
        }
      }
    }
  }
}

@keyframes waving-1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1080px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes waving-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1080px);
  }
  100% {
    transform: translateX(0);
  }
}

.features {

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
  }

  &__card {
    position: relative;
    max-width: 370px;
    padding: 30px;
    padding-top: 125px;
    background: $white;
    transition: box-shadow .3s ease-out;

    &::before {
      position: absolute;
      top: 30px;
      left: 30px;
      content: '';
      width: 70px;
      height: 70px;
      border-radius: 15px;
    }

    &:nth-child(1)::before {
      background: rgba($orange, .25)
                  url(../img/card-icon-1.svg) center no-repeat;
    }

    &:nth-child(2)::before {
      background: rgba($green, .25)
                  url(../img/card-icon-2.svg) center no-repeat;
    }

    &:nth-child(3)::before {
      background: rgba($yellow, .25)
                  url(../img/card-icon-3.svg) center no-repeat;
    }

    &:hover {
      box-shadow: 15px 25px 56px 6px rgba(#000000, .06);
    }
  }

  &__title {
    margin-bottom: 18px;
  }

  &__text {
    color: $darkgray;
    line-height: 22.5px;
    margin-bottom: 25px;
  }

  &__link {
    font-family: 'Gilroy Bold';
    font-size: 0.75em;
    color: $black;
    text-decoration: none;
  }
}

.services {

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    max-width: 682px;
    margin-bottom: 55px;
    text-align: center;
  }

  &__cards-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    padding: 0 30px 50px;
    background: $white;
    transition: box-shadow .3s ease-out;

    .card {

      &__img {
        max-height: 270px;
      }

      &__title {
        margin-bottom: 20px;
      }

      &__text {
        text-align: center;
        font-size: 0.95em;
        color: $gray;
        line-height: 1.4em;
        margin-bottom: 40px;
      }

      &__button {
        font-size: 0.85em;

        .button__icon {
          margin-left: 6px;

          & path {
            transition: all .2s ease-in-out;
          }
        }

        &:hover .button__icon {
          & path {
            stroke: $white;
          }
        }
      }
    }

    &:hover {
      box-shadow: 15px 25px 60px -5px rgba(#000000, .1);
    }
  }
}

.what-we-do {

  &__inner {
    padding: 100px 0;
    margin-left: auto;
    max-width: 570px;
    background: $white;
    background: linear-gradient(90deg, rgba($white, 0) 15%, $white 100%);
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 44px;
    color: $darkgray;
  }

  &__list {
    list-style: none;
  }

  &__item {
    position: relative;
    padding: 30px 30px 30px 160px;
    background: $white;
    transition: box-shadow .3s ease-out;

    & + & {
      margin-top: 30px;
    }

    &::before {
      position: absolute;
      top: 14px;
      left: 30px;
      content: '';
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: red;
    }

    &:nth-child(1)::before {
      background: rgba($orange, .25)
                  url(../img/item-icon-1.svg) center no-repeat;
    }

    &:nth-child(2)::before {
      background: rgba($green, .25)
                  url(../img/item-icon-2.svg) center no-repeat;
    }

    &:nth-child(3)::before {
      background: rgba($yellow, .25)
                  url(../img/item-icon-3.svg) center no-repeat;
    }

    &:hover {
      box-shadow: 15px 25px 60px -5px rgba(#000000, .1);
    }

    .item {

      &__title {
        margin-bottom: 8px;
      }

      &__text {
        font-size: 0.95em;
        color: $darkgray;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
