@font-face {
  font-family: 'Gilroy Regular';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Semibold';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: 0.66667 "Gilroy Regular", sans-serif;
}

body {
  min-height: 100vh;
  color: #131313;
}

h1, h2, h3, h4, h5, h6 {
  color: #131313;
  font-family: 'Gilroy Bold', sans-serif;
}

h1 {
  font-size: 3.75rem;
  line-height: 4.375rem;
}

h2 {
  font-size: 2.82em;
  line-height: 3.3rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.section__slider .slider__dots, .button, .social__item, .social__link, .services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plans__inner, .team__inner, .testimonials, .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .background__img, .about-us .background__img, .about-us .background__wave-1, .about-us .background__wave-2, .what-we-do .background__img, .checking .background__img {
  position: absolute;
  top: 0;
  z-index: -1;
}

.features__card, .services__card, .plans__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 370px;
          flex: 1 1 370px;
  background: #fff;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.section {
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}

.section__title {
  margin-bottom: 20px;
}

.section__text {
  color: #666;
  font: 1rem/1.5rem 'Gilroy Regular', sans-serif;
  margin-bottom: 55px;
}

.section__slider .slider__wrapper {
  margin-bottom: 30px;
  list-style: none;
}

.section__slider .slider__slide {
  padding: 0 15px;
  width: 100%;
  opacity: .5;
}

.section__slider .swiper-slide-active {
  opacity: 1;
}

.section__slider .swiper-slide-active .slide__inner {
  -webkit-box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
  border-color: #fff;
}

.section__slider .slide__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 2px solid #eee;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.section__slider .slider__dots {
  position: relative;
  bottom: 0 !important;
  height: 12px;
  margin-bottom: 15px;
}

.section__slider .slider__dots .dot {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 6px;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.section__slider .slider__dots .dot--active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background: #f25822;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;
  padding: 0 25px;
}

.button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font: .875rem/1.3125rem 'Gilroy Bold', sans-serif;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.button--primary {
  background: #fcd5c8;
  color: #f25822;
}

.button--primary:hover {
  background: #f25822;
  color: #fff;
  -webkit-box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.3);
          box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.3);
}

.button--primary:disabled {
  color: #aaa;
  background: #eee;
}

.button--primary:disabled:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--secondary {
  background: transparent;
  color: #aaa;
}

.button--secondary:hover {
  color: #131313;
}

.button--read-more {
  margin-top: auto;
  color: #131313;
  font: 1rem/1.2rem 'Gilroy Bold', sans-serif;
  text-decoration: none;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.button--read-more:hover {
  color: #f25822;
}

.button--burger {
  display: none;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.button--burger span {
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  margin: 3px 0;
  border-radius: 5px;
  background: #f25822;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  font: 1.5rem 'Gilroy Bold', sans-serif;
  text-decoration: none;
}

.main-logo__img {
  margin-right: .875rem;
}

.main-logo__text {
  color: #000;
}

.main-logo__text > span {
  color: #f25822;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 130px;
  list-style: none;
}

.social__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .15s ease;
  transition: .15s ease;
}

.social__item:hover {
  background: #f25822;
}

.social__item:hover .social__link > svg > path {
  fill: #fff;
}

.social__link svg > path {
  -webkit-transition: .15s ease;
  transition: .15s ease;
}

.header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  list-style: none;
}

.header__menu .main-logo, .header__menu .button {
  display: none;
}

.header .button {
  width: 120px;
  height: 40px;
  margin-left: 30px;
  font: .75rem/normal 'Gilroy Semibold', sans-serif;
}

.menu__item + .menu__item {
  margin-left: 30px;
}

.menu__link {
  color: #131313;
  font: .875rem/1.3125rem 'Gilroy Semibold', sans-serif;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu__link:hover {
  color: #f25822;
}

.dimmer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.dimmer.showed {
  background-color: rgba(0, 0, 0, 0.5);
}

.main {
  position: relative;
  padding-top: 120px;
}

.homepage {
  padding: 0 !important;
}

.homepage__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 580px;
  height: 580px;
  padding-right: 40px;
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(90%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0) 100%);
}

.homepage .section__title {
  margin-bottom: 30px;
}

.homepage .section__title > span {
  position: relative;
  z-index: 1;
}

.homepage .section__title > span::after {
  position: absolute;
  top: 5%;
  left: -5%;
  content: '';
  width: 110%;
  height: 100%;
  background: transparent;
  border: 1px solid #f25822;
  border-radius: 50%;
  z-index: -1;
}

.homepage .section__text {
  margin-bottom: 40px;
  font: 1.25rem/1.5rem 'Gilroy Medium', sans-serif;
}

.homepage__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage__controls .button + .button {
  margin-left: 30px;
}

.homepage__controls .button--secondary .button__icon {
  margin-right: 15px;
}

.homepage__controls .button--secondary .button__icon circle {
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.homepage__controls .button--secondary:hover .button__icon > circle {
  stroke: #131313;
}

.homepage .background__img {
  left: 53%;
}

.homepage .background__polygon--1, .homepage .background__polygon--2, .homepage .background__polygon--3 {
  position: absolute;
  z-index: -1;
  -webkit-animation: scaling ease-in-out infinite;
          animation: scaling ease-in-out infinite;
}

.homepage .background__polygon--1 .polygon__svg, .homepage .background__polygon--2 .polygon__svg, .homepage .background__polygon--3 .polygon__svg {
  -webkit-animation: rotation linear infinite;
          animation: rotation linear infinite;
}

.homepage .background__polygon--1 {
  top: 22%;
  left: -16%;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.homepage .background__polygon--1 .polygon__svg {
  -webkit-animation-duration: 4.8s;
          animation-duration: 4.8s;
}

.homepage .background__polygon--2 {
  top: 9%;
  left: 107%;
  -webkit-animation-duration: 5.3s;
          animation-duration: 5.3s;
}

.homepage .background__polygon--2 .polygon__svg {
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}

.homepage .background__polygon--3 {
  bottom: 28%;
  left: 95%;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
}

.homepage .background__polygon--3 .polygon__svg {
  -webkit-animation-duration: 3.9s;
          animation-duration: 3.9s;
}

.brands__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brands__link {
  padding: 10px;
  text-decoration: none;
}

.brands__link:hover .brands__img {
  -webkit-filter: sepia(50%);
          filter: sepia(50%);
}

.brands__img {
  -webkit-transition: .2s;
  transition: .2s;
}

.about-us {
  padding: 0;
  background: #fafafa;
  z-index: 0;
}

.about-us__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 515px;
  height: 540px;
}

.about-us .background__img {
  left: 50%;
}

.about-us .background__wave-1 {
  left: 0;
  -webkit-animation: waving-1 17s ease-in-out infinite;
          animation: waving-1 17s ease-in-out infinite;
}

.about-us .background__wave-2 {
  left: -1080px;
  -webkit-animation: waving-2 20s ease-in-out infinite;
          animation: waving-2 20s ease-in-out infinite;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.features__card {
  padding: 125px 30px 30px;
}

.features__card::before {
  position: absolute;
  top: 30px;
  left: 30px;
  content: '';
  width: 70px;
  height: 70px;
  border-radius: 15px;
}

.features__card:nth-child(1)::before {
  background: #fcd5c8 url(../img/card-icon-1.svg) center no-repeat;
}

.features__card:nth-child(2)::before {
  background: #c4e4c3 url(../img/card-icon-2.svg) center no-repeat;
}

.features__card:nth-child(3)::before {
  background: #fff2c6 url(../img/card-icon-3.svg) center no-repeat;
}

.features__card:hover {
  -webkit-box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.1);
}

.features .card__title {
  margin-bottom: 18px;
}

.features .card__text {
  margin-bottom: 25px;
  color: #666;
  font: .875rem/1.3125rem 'Gilroy Regular', sans-serif;
}

.services {
  background: #fafafa;
}

.services__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.services .section__text {
  width: 100%;
  max-width: 682px;
}

.services__cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 100%;
}

.services__card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__card .card__img {
  width: 100%;
  max-width: 370px;
}

.services__card .card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 30px 50px;
}

.services__card .card__title {
  margin-bottom: 20px;
}

.services__card .card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 40px;
  color: #666;
  font: .875rem/1.3125rem 'Gilroy Regular', sans-serif;
}

.services__card .button {
  margin: 0 auto;
}

.services__card .button .button__icon {
  margin: 1px 0 0 6px;
}

.services__card .button .button__icon > path {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.services__card .button:hover .button__icon > path {
  stroke: #fff;
}

.services__card:hover {
  -webkit-box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.what-we-do .background__img {
  left: -33%;
}

.what-we-do__inner {
  width: 100%;
  max-width: 630px;
  margin-left: auto;
  padding-left: 60px;
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(10%, #fff));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 10%);
}

.what-we-do .section__text {
  margin-bottom: 44px;
}

.what-we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  list-style: none;
}

.what-we-do__item {
  position: relative;
  padding: 30px 30px 30px 160px;
  border-radius: 6px;
  background: transparent;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.what-we-do__item::before {
  position: absolute;
  top: 17px;
  left: 30px;
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.what-we-do__item:nth-child(1)::before {
  background: #fcd5c8 url(../img/item-icon-1.svg) center no-repeat;
}

.what-we-do__item:nth-child(2)::before {
  background: #c4e4c3 url(../img/item-icon-2.svg) center no-repeat;
}

.what-we-do__item:nth-child(3)::before {
  background: #fff2c6 url(../img/item-icon-3.svg) center no-repeat;
}

.what-we-do__item:hover {
  background: #fff;
  -webkit-box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.what-we-do__item .item__title {
  margin-bottom: 8px;
}

.what-we-do__item .item__text {
  color: #666;
  font: .875rem/1.3125rem 'Gilroy Regular', sans-serif;
}

.facts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #eee;
  padding: 40px 0;
  list-style: none;
}

.facts__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  color: #666;
}

.facts__item + .facts__item::before {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(0% - 7px);
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.facts__item:nth-child(2)::before {
  background: #f25822;
}

.facts__item:nth-child(3)::before {
  background: #149211;
}

.facts__item:nth-child(4)::before {
  background: #ffcd1d;
}

.facts__item .item__value {
  font: 4.375rem 'Gilroy Bold', sans-serif;
}

.facts__item .item__description {
  font: 1.125rem/1.7rem 'Gilroy Semibold', sans-serif;
}

.checking {
  padding-bottom: 0;
}

.checking .background__img {
  right: 0;
}

.checking__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 610px;
  height: 500px;
  padding-left: 40px;
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(90%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0) 100%);
}

.checking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.checking__form .form__url, .checking__form .form__email {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  height: 50px;
  border: none;
  padding: 15px 20px;
  margin-bottom: 15px;
  background: #eee;
  color: #666;
  font: 0.75rem/1rem 'Gilroy Medium', sans-serif;
}

.checking__form .form__url:focus, .checking__form .form__email:focus {
  outline: none;
  background-color: #fff;
}

.checking__form .form__url {
  border-radius: 50px 0 0 50px;
  border-right: 1px solid #ccc;
}

.checking__form .form__email {
  margin-right: auto;
  border-left: 1px solid #ccc;
  border-radius: 0 50px 50px 0;
}

.plans {
  background: #fafafa;
}

.plans__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 100%;
  height: 580px;
  list-style: none;
}

.plans__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 65px 30px;
  font-family: 'Gilroy Medium', sans-serif;
}

.plans__item:hover {
  padding: 100px 80px;
  -webkit-box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.1);
}

.plans__item:hover .item__title {
  color: #f25822;
}

.plans__item .item__title {
  margin-bottom: 20px;
  font-family: 'Gilroy Regular', sans-serif;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.plans__item .item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-size: 1.125rem;
}

.plans__item .item__price span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.plans__item .item__price span:nth-child(1) {
  line-height: 2.4rem;
  margin-right: 5px;
}

.plans__item .item__price span:nth-child(2) {
  line-height: 100%;
  font-size: 4.375rem;
}

.plans__item .item__price span:nth-child(3) {
  line-height: 2.2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.plans__item .item__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  text-align: center;
  list-style: none;
}

.plans__item .item__options .options__item {
  line-height: 2.5rem;
}

.plans__item .button {
  width: 100%;
  max-width: 200px;
}

.team .section__text {
  width: 100%;
  max-width: 460px;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  list-style: none;
}

.team__member {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 180px;
          flex: 1 1 180px;
  width: 100%;
  padding: 50px 0;
  outline: 1px solid #eee;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.team__member:hover {
  -webkit-box-shadow: 15px 20px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 15px 20px 50px 0px rgba(0, 0, 0, 0.1);
  outline-color: #fff;
}

.team__member .member__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 130px;
          flex: 0 1 130px;
  margin-bottom: 14px;
  border-radius: 50%;
  overflow: hidden;
}

.team__member .member__name {
  font: 1.25rem/1.875rem 'Gilroy Bold', sans-serif;
}

.team__member .member__role {
  margin-bottom: 18px;
  color: #888;
  font: 0.875rem/1.375rem 'Gilroy Medium', sans-serif;
}

.testimonials .section__text {
  width: 100%;
  max-width: 570px;
  text-align: center;
}

.testimonials__slider .slider__slide {
  max-width: 600px;
}

.testimonials__slider .swiper-slide-next {
  opacity: 1;
}

.testimonials__slider .slide__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 30px;
  color: #888;
  font: 1rem/1.5rem 'Gilroy Regular', sans-serif;
  text-align: center;
}

.testimonials__slider .slide__inner::after {
  position: absolute;
  content: url(../img/quotes.svg);
  z-index: -1;
}

.testimonials__slider .slide__inner .item__text {
  margin-bottom: 30px;
}

.testimonials__slider .slide__inner .item__photo {
  width: 100%;
  max-width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials__slider .slide__inner .item__person-name, .testimonials__slider .slide__inner .item__person-profi {
  font-size: .875rem;
  line-height: 1.375rem;
}

.testimonials__slider .slide__inner .item__person-name {
  color: #131313;
  font-family: 'Gilroy Semibold', sans-serif;
}

.blog .section__text {
  width: 100%;
  max-width: 570px;
  text-align: center;
}

.blog__slider .slider__slide {
  max-width: 800px;
}

.blog__slider .slider__slide .item__content .button--read-more {
  display: none;
}

.blog__slider .swiper-slide-active .item__content .button--read-more {
  display: inline-block;
}

.blog__slider .slide__inner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 330px;
  font: 1rem/1.5rem 'Gilroy Medium', sans-serif;
}

.blog__slider .slide__inner .item__img-wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 370px;
          flex: 1 0 370px;
  height: 100%;
  overflow: hidden;
}

.blog__slider .slide__inner .item__img-wrapper .item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__slider .slide__inner .item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.blog__slider .slide__inner .item__title {
  margin-bottom: 20px;
  font-family: 'Gilroy Bold', sans-serif;
  line-height: 2.25rem;
}

.blog__slider .slide__inner .item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  max-width: 280px;
}

.blog__slider .slide__inner .item__info .info__author, .blog__slider .slide__inner .item__info .info__likes-counter, .blog__slider .slide__inner .item__info .info__comments-counter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  color: #888;
  font: 0.75rem/1.125rem 'Gilroy Medium', sans-serif;
}

.blog__slider .slide__inner .item__info .info__author::before, .blog__slider .slide__inner .item__info .info__likes-counter::before, .blog__slider .slide__inner .item__info .info__comments-counter::before {
  position: absolute;
  left: 0;
  height: 100%;
}

.blog__slider .slide__inner .item__info .info__author::before {
  content: url(../img/person-icon.svg);
  top: 12%;
}

.blog__slider .slide__inner .item__info .info__likes-counter::before {
  content: url(../img/heart-icon.svg);
  top: 12%;
}

.blog__slider .slide__inner .item__info .info__comments-counter::before {
  content: url(../img/message-icon.svg);
  top: 8%;
}

.blog__slider .slide__inner .item__text {
  margin-bottom: 25px;
  color: #666;
}

.footer {
  width: 100%;
  background: #eee;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  width: 100%;
  padding: 100px 0;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
  color: #666;
  font: 1rem/1.7rem 'Gilroy Medium', sans-serif;
}

.footer__info .main-logo {
  margin-bottom: 40px;
}

.footer__info .info__text {
  margin-bottom: 20px;
}

.footer__info .social__list {
  margin-top: auto;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 20px;
}

.footer__links .links__title {
  margin-bottom: 40px;
  line-height: 2.5rem;
}

.footer__links .links__list {
  margin-left: 18px;
}

.footer__links .links__item {
  margin-bottom: 16px;
  color: #666;
  font-family: 'Gilroy Semibold', sans-serif;
}

.footer__links .links__item:nth-last-child(1) {
  margin-bottom: 0;
}

.footer__links .links__item::marker {
  color: #f25822;
}

.footer__links .links__link {
  color: #666;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer__links .links__link:hover {
  color: #f25822;
}

.footer__links .links--contacts .links__list {
  list-style: none;
  margin-left: 0;
}

.footer__links .links--contacts .links__item > span {
  color: #131313;
  font-family: 'Gilroy Bold', sans-serif;
}

.footer .copyright {
  padding: 20px 0;
  color: #888;
  font-family: 'Gilroy Medium', sans-serif;
  text-align: center;
  border-top: 1px solid #ccc;
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes waving-1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1080px);
            transform: translateX(-1080px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes waving-1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-1080px);
            transform: translateX(-1080px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes waving-2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1080px);
            transform: translateX(1080px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes waving-2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(1080px);
            transform: translateX(1080px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 1366px) {
  .section {
    padding: 60px 0;
  }
  .section__text {
    margin-bottom: 40px;
  }
  .header__inner {
    padding: 30px 0;
  }
  .what-we-do__inner .section__text {
    margin-bottom: 25px;
  }
}

@media (max-width: 1380px) {
  .homepage__inner {
    margin-left: 80px;
  }
}

@media (max-width: 1024px) {
  h2 {
    font-size: 2.2em;
    line-height: 3.3rem;
  }
  .section {
    padding: 45px 0;
  }
  .container {
    padding: 0 35px;
  }
  .background__img {
    opacity: .8;
    height: 100%;
  }
  .homepage__inner, .checking__inner {
    background: #fff;
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, rgba(255, 255, 255, 0.9)), color-stop(95%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 85%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 0) 100%);
  }
  .homepage {
    padding: 45px 0 !important;
  }
  .homepage__inner {
    height: auto;
  }
  .brands__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services .card__inner {
    padding: 0 30px 30px;
  }
  .plans .section__text {
    margin-bottom: 0;
  }
  .plans__item {
    padding: 35px 30px;
  }
  .plans__item:hover {
    padding: 50px 30px;
  }
  .footer__inner {
    gap: 30px;
    padding: 60px 0;
  }
  .footer__info .main-logo {
    margin-bottom: 20px;
  }
  .footer__links .links__section {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px;
  }
  .footer__links .links__title {
    margin-bottom: 20px;
    font-size: 1.25rem;
  }
  .footer__links .links__item {
    margin-bottom: 14px;
  }
}

@media (max-width: 880px) {
  .header .button {
    margin-left: auto;
  }
  .header__menu {
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0px;
    right: 0;
    width: 100%;
    max-width: 440px;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
  }
  .header__menu .main-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
  }
  .header__menu .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 25px 0 0;
  }
  .header__menu.showed {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .menu__item + .menu__item {
    margin-left: 0;
  }
  .menu__link {
    font: 1.3rem/2.4rem 'Gilroy Semibold', sans-serif;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .button--burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40px;
  }
  .button--burger.active span:nth-child(1) {
    -webkit-animation: ease .4s top forwards;
            animation: ease .4s top forwards;
  }
  .button--burger.not-active span:nth-child(1) {
    -webkit-animation: ease .4s top-2 forwards;
            animation: ease .4s top-2 forwards;
  }
  .button--burger.active span:nth-child(2) {
    -webkit-animation: ease .4s zoom-out forwards;
            animation: ease .4s zoom-out forwards;
  }
  .button--burger.not-active span:nth-child(2) {
    -webkit-animation: ease .4s zoom-in forwards;
            animation: ease .4s zoom-in forwards;
  }
  .button--burger.active span:nth-child(3) {
    -webkit-animation: ease .4s bottom forwards;
            animation: ease .4s bottom forwards;
  }
  .button--burger.not-active span:nth-child(3) {
    -webkit-animation: ease .4s bottom-2 forwards;
            animation: ease .4s bottom-2 forwards;
  }
  @-webkit-keyframes top {
    0% {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      top: 11px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      top: 11px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
  }
  @keyframes top {
    0% {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      top: 11px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      top: 11px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
  }
  @-webkit-keyframes top-2 {
    0% {
      top: 11px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    50% {
      top: 11px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @keyframes top-2 {
    0% {
      top: 11px;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    50% {
      top: 11px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @-webkit-keyframes bottom {
    0% {
      bottom: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      bottom: 11px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      bottom: 11px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  @keyframes bottom {
    0% {
      bottom: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      bottom: 11px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      bottom: 11px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  @-webkit-keyframes bottom-2 {
    0% {
      bottom: 11px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    50% {
      bottom: 11px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      bottom: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @keyframes bottom-2 {
    0% {
      bottom: 11px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    50% {
      bottom: 11px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      bottom: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @-webkit-keyframes zoom-out {
    50% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    51% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  @keyframes zoom-out {
    50% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    51% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  @-webkit-keyframes zoom-in {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    50% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    51% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes zoom-in {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    50% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    51% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.6rem;
  }
  .button {
    height: 40px;
    border: none;
    border-radius: 20px;
  }
  .main {
    padding-top: 80px;
  }
  .header__inner {
    padding: 20px 0;
  }
  .section {
    padding: 45px 0;
  }
  .section__title {
    margin-bottom: 15px;
  }
  .section__text {
    margin-bottom: 30px;
  }
  .section__slider .slider__slide {
    padding: 0 10px;
  }
  .homepage__inner {
    margin: 0 auto;
    padding: 0;
    background: transparent;
    text-align: center;
  }
  .homepage__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homepage .background__img {
    left: 0;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    opacity: .1;
  }
  .homepage .background__polygon--1 {
    left: -9%;
  }
  .homepage .background__polygon--2 {
    left: 100%;
  }
  .homepage .background__polygon--3 {
    bottom: 15%;
    left: 93%;
  }
  .about-us__inner {
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
  .about-us__inner .button {
    margin: 0 auto;
  }
  .about-us .background__img {
    left: 0;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    opacity: .1;
  }
  .features__inner {
    gap: 20px;
  }
  .features__inner .features__card {
    padding: 90px 20px 20px;
  }
  .features__inner .features__card::before {
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
  }
  .services__cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .services__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .services .card__img {
    width: 35%;
  }
  .services .card__inner {
    padding: 25px;
  }
  .services .card__text {
    margin-bottom: 20px;
  }
  .what-we-do .background__img {
    display: none;
  }
  .what-we-do__inner {
    height: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .what-we-do .section__title {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .what-we-do__list {
    gap: 15px;
  }
  .what-we-do__item {
    padding: 20px 20px 20px 120px;
  }
  .what-we-do__item::before {
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
  }
  .facts__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .facts__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 220px;
            flex: 1 1 220px;
  }
  .facts__item + .facts__item::before {
    display: none;
  }
  .facts__item .item__value {
    font-size: 3rem;
  }
  .facts__item .item__description {
    font: 1.1rem/1.7rem 'Gilroy Semibold', sans-serif;
  }
  .checking {
    padding-bottom: 40px;
  }
  .checking .background__img {
    left: 0;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    opacity: .1;
  }
  .checking__inner {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background: transparent;
  }
  .checking__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .checking__form .form__url, .checking__form .form__email {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: 40px;
    padding: 8px 15px;
    font: 1rem/1.2rem 'Gilroy Medium', sans-serif;
  }
  .checking__form .form__email {
    margin-right: 0;
  }
  .plans .section__text {
    margin-bottom: 30px;
  }
  .plans__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    height: auto;
  }
  .plans__item {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'title options' 'price options' 'button options';
    -ms-grid-columns: 160px 205px;
        grid-template-columns: 160px 205px;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    width: 100%;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding: 25px;
  }
  .plans__item:hover {
    padding: 25px;
  }
  .plans__item .item__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
  }
  .plans__item .item__price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: price;
    margin-bottom: 0;
  }
  .plans__item .item__price span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .plans__item .item__price span:nth-child(1) {
    line-height: 1.8rem;
  }
  .plans__item .item__price span:nth-child(2) {
    font-size: 2.5rem;
  }
  .plans__item .item__price span:nth-child(3) {
    line-height: 1.8rem;
  }
  .plans__item .item__options {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: options;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    margin-bottom: 0;
    text-align: right;
  }
  .plans__item .button {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: button;
    width: 100%;
    max-width: 200px;
  }
  .team__list {
    gap: 15px;
  }
  .team__member {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'photo member-name' 'photo member-role' 'photo social-list';
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
    padding: 25px;
  }
  .team__member .member__photo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: photo;
    width: 100%;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
  }
  .team__member .member__name {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: member-name;
    line-height: 1.6rem;
    text-align: center;
  }
  .team__member .member__role {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: member-role;
    text-align: center;
    margin: 0;
  }
  .team__member .social__list {
    margin: 10px auto 0;
  }
  .testimonials__slider .slider__slide {
    max-width: 320px;
  }
  .testimonials__slider .slide__inner {
    padding: 20px;
  }
  .testimonials__slider .slide__inner .item__text {
    margin-bottom: 20px;
  }
  .blog__slider .slider__slide {
    max-width: 80%;
  }
  .blog__slider .slide__inner {
    height: auto;
  }
  .blog__slider .slide__inner .item__img-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 35%;
    height: auto;
  }
  .blog__slider .slide__inner .item__content {
    padding: 20px;
  }
  .blog__slider .slide__inner .item__title {
    margin-bottom: 15px;
    line-height: 1.6rem;
  }
  .blog__slider .slide__inner .item__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
    max-width: 100%;
  }
  .blog__slider .slide__inner .item__info .info__author, .blog__slider .slide__inner .item__info .info__likes-counter, .blog__slider .slide__inner .item__info .info__comments-counter {
    font: 1rem/1.125rem 'Gilroy Medium', sans-serif;
  }
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
  }
  .footer__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
  .footer__info .main-logo {
    margin: 0 auto 15px;
  }
  .footer__info .info__text {
    margin-bottom: 15px;
  }
  .footer__info .social__list {
    margin: 0 auto 10px;
  }
  .footer__links .links__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__links .links__title {
    margin-bottom: 15px;
  }
}
