// ===== FONTS =====
@font-face {
  font-family: 'Gilroy Regular';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url('../fonts/Gilroy-Medium.eot');
  src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Medium.woff') format('woff'),
  url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Semibold';
  src: url('../fonts/Gilroy-SemiBold.eot');
  src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-SemiBold.woff') format('woff'),
  url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url('../fonts/Gilroy-Bold.eot');
  src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Bold.woff') format('woff'),
  url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// ===== VARS =====
$black: #141414;
$darkgray: #666666;
$gray: #aaaaaa;
$lightgray: #eeeeee;
$white: #fff;
$orange: #f25822;
$green: #149211;
$yellow: #ffcd1d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px/24px 'Gilroy Regular', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: $black;
  font: 16px 'Gilroy Regular';
}
// ===== TITLES =====
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy Bold';
}

h1 {
  font-size: 3.75rem;
  line-height: 4.375rem;
}

h2 {
  font-size: 2.82em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-family: 'Gilroy Bold';
  font-size: 1.25em;
}
// ===== COMMON =====
.section {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__title {
    color: $black;
    font-family: 'Gilroy Bold', sans-serif;
    margin-bottom: 20px;
  }

  &__text {
    color: $darkgray;
    font: 1rem/1.5rem 'Gilroy Regular', sans-serif;
    margin-bottom: 55px;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 25px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font: 0.875rem 'Gilroy Bold';
  cursor: pointer;
  transition: .2s ease;

  &:disabled {
    color: $gray;
    background: $lightgray;

    &:hover {
      box-shadow: none;
    }
  }

  &--primary {
    background: rgba($orange, .25);
    color: $orange;

    &:hover {
      background: $orange;
      color: $white;
      box-shadow: 4px 4px 8px rgba($orange, .3);
    }
  }

  &--secondary {
    background: transparent;
    color: $gray;

    &:hover {
      color: $black;
    }
  }
}

.main-logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font: 1.5em 'Gilroy Bold';
  text-decoration: none;

  &__img {
    margin-right: 14px;
  }

  &__text {
    color: #000000;

    & span {
      color: #f25822;
    }
  }
}
// ===== /COMMON =====

// ===== HEADER =====
.header {
  position: fixed;
  width: 100%;
  background: $white;
  z-index: 1000;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
  }

  .button {
    margin-left: 30px;
    width: 120px;
    height: 40px;
    font-size: 0.75rem;
  }
}

.menu {

  &__item {

    & + & {
      margin-left: 30px;
    }
  }

  &__link {
    color: $black;
    font: 0.875rem 'Gilroy Bold';
    text-decoration: none;
    white-space: nowrap;
    transition: color .2s;

    &:hover {
      color: $orange;
    }
  }
}
// ===== /HEADER =====

.main {
  position: relative;
  width: 100%;
  padding-top: 120px;
}

// ===== HOMEPAGE =====
.homepage {

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    max-width: 580px;
    height: 580px;
    background: $white;
    background: linear-gradient(90deg, rgba($white, .9) 75%, rgba($white, .5) 90%, rgba($white, 0) 100%);

    z-index: 0;
  }

  &__title {
    margin-bottom: 30px;

    span {
      position: relative;
      z-index: 1;

      &::after {
        position: absolute;
        top: 5%;
        left: -5%;
        content: '';
        width: 110%;
        height: 100%;
        background: transparent;
        border: 1px solid $orange;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }

  &__text {
    font: 1.25rem/1.5rem 'Gilroy Medium', sans-serif;
    margin-bottom: 40px;
  }

  &__controls {
    display: flex;

    .button + .button {
      margin-left: 30px;
    }

    .button--secondary {

      .button__icon {
        margin-right: 15px;

        circle {
          transition: .2s ease;
        }
      }

      &:hover {

        .button__icon > circle {
          stroke: $black;
        }
      }
    }
  }

  .background {

    &__img {
      position: absolute;
      top: 0;
      left: 53%;
    }

    &__polygon {

      &--1, &--2, &--3 {
        position: absolute;
        z-index: -1;
        animation: scaling ease-in-out infinite;

        .polygon__svg {
          animation: rotation linear infinite;
        }
      }

      &--1 {
        top: 22%;
        left: -16%;
        animation-duration: 4s;

        .polygon__svg {
          animation-duration: 4.8s;
        }
      }

      &--2 {
        top: 9%;
        left: 107%;
        animation-duration: 5.3s;

        .polygon__svg {
          animation-duration: 5.5s;
        }
      }

      &--3 {
        bottom: 28%;
        left: 95%;
        animation-duration: 6.5s;

        .polygon__svg {
          animation-duration: 3.9s;
        }
      }
    }
  }
}
// ===== /HOMEPAGE =====
// ===== BRANDS =====
// TODO: responsive line of elements
.brands {

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
  }

  &__link {
    padding: 10px;
    text-decoration: none;

    &:hover .brands__img {
      filter: sepia(50%);
    }
  }

  &__img {
    transition: filter .2s;
  }
}
// ===== /BRANDS =====
.about-us {
  background: #fafafa;
  z-index: 0;

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 515px;
    padding: 125px 0;
  }

  &__text {
    // line-height: 24px
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    .background {
      &__img {
        position: absolute;
        top: 0;
        right: 14%;
        height: 100%;
      }

      &__wave {
        &-1, &-2 {
          position: absolute;
          z-index: -1;
        }

        &-1 {
          top: 0;
          left: 0;
          animation: waving-1 17s ease-in-out infinite;
        }

        &-2 {
          top: 0;
          left: -1080px;
          animation: waving-2 20s ease-in-out infinite;
        }
      }
    }
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes waving-1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1080px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes waving-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1080px);
  }
  100% {
    transform: translateX(0);
  }
}

.features {

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
  }

  &__card {
    position: relative;
    max-width: 370px;
    padding: 30px;
    padding-top: 125px;
    background: $white;
    transition: box-shadow .3s ease-out;

    &::before {
      position: absolute;
      top: 30px;
      left: 30px;
      content: '';
      width: 70px;
      height: 70px;
      border-radius: 15px;
    }

    &:nth-child(1)::before {
      background: rgba($orange, .25)
                  url(../img/card-icon-1.svg) center no-repeat;
    }

    &:nth-child(2)::before {
      background: rgba($green, .25)
                  url(../img/card-icon-2.svg) center no-repeat;
    }

    &:nth-child(3)::before {
      background: rgba($yellow, .25)
                  url(../img/card-icon-3.svg) center no-repeat;
    }

    &:hover {
      box-shadow: 15px 25px 56px 6px rgba(#000000, .06);
    }
  }

  &__title {
    margin-bottom: 18px;
  }

  &__text {
    color: $darkgray;
    line-height: 22.5px;
    margin-bottom: 25px;
  }

  &__link {
    font-family: 'Gilroy Bold';
    font-size: 0.75em;
    color: $black;
    text-decoration: none;
    transition: .15s ease-in-out;

    &:hover {
      color: $orange;
    }
  }
}

.services {
  background: #fafafa;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    max-width: 682px;
    margin-bottom: 55px;
    text-align: center;
  }

  &__cards-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    padding: 0 30px 50px;
    background: $white;
    transition: box-shadow .3s ease-out;

    .card {

      &__img {
        max-height: 270px;
      }

      &__title {
        font-family: 'Gilroy Bold';
        margin-bottom: 20px;
      }

      &__text {
        text-align: center;
        font-size: 0.95em;
        color: $gray;
        line-height: 1.4em;
        margin-bottom: 40px;
      }

      &__button {
        font-size: 0.85em;

        .button__icon {
          margin-left: 6px;

          & path {
            transition: all .2s ease-in-out;
          }
        }

        &:hover .button__icon {
          & path {
            stroke: $white;
          }
        }
      }
    }

    &:hover {
      box-shadow: 15px 25px 60px -5px rgba(#000000, .1);
    }
  }
}

.what-we-do {

  &__inner {
    padding: 100px 0;
    margin-left: auto;
    max-width: 570px;
    background: $white;
    background: linear-gradient(90deg, rgba($white, 0) 0%, $white 15%);
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 44px;
    color: $darkgray;
  }

  &__list {
    list-style: none;
  }

  &__item {
    position: relative;
    padding: 30px 30px 30px 160px;
    background: $white;
    transition: box-shadow .3s ease-out;

    & + & {
      margin-top: 30px;
    }

    &::before {
      position: absolute;
      top: 14px;
      left: 30px;
      content: '';
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: red;
    }

    &:nth-child(1)::before {
      background: rgba($orange, .25)
                  url(../img/item-icon-1.svg) center no-repeat;
    }

    &:nth-child(2)::before {
      background: rgba($green, .25)
                  url(../img/item-icon-2.svg) center no-repeat;
    }

    &:nth-child(3)::before {
      background: rgba($yellow, .25)
                  url(../img/item-icon-3.svg) center no-repeat;
    }

    &:hover {
      box-shadow: 15px 25px 60px -5px rgba(#000000, .1);
    }

    .item {

      &__title {
        margin-bottom: 8px;
      }

      &__text {
        font-size: 0.95em;
        color: $darkgray;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.facts {
  margin-bottom: 100px;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #eeeeee;
    padding: 40px 70px;
    list-style: none;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 257px;
    width: 257px;

    & + &::before {
      position: absolute;
      top: calc(50% - 7.5px);
      left: calc(0% - 7.5px);
      content: '';
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }

    &:nth-child(2)::before {
      background: $orange;
    }

    &:nth-child(3)::before {
      background: $green;
    }

    &:nth-child(4)::before {
      background: $yellow;
    }
  }

  &__value {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 4.4em;
    color: $darkgray;
  }

  &__description {
    font-family: 'Gilroy Bold', sans-serif;
    font-size: 1.15em;
    color: $darkgray;
  }
}

.checking {

  &__inner {
    padding: 140px 0;
    max-width: 570px;
    background: $white;
    background: linear-gradient(90deg, $white 85%, rgba($white, 0) 100%);
  }

  &__text {
    color: $darkgray;
    line-height: 1.5em;
    margin-bottom: 55px;
  }

  &__form {
    display: flex;
    justify-content: space-between;

    .form {

      &__url, &__email {
        width: 200px;
        height: 50px;
        border: none;
        padding: 15px 20px;
        background: #eeeeee;
        font-family: 'Gilroy Medium';
        color: $darkgray;
        font-size: 0.85em;

        &:focus {
          outline: none;
          background-color: $white;
        }
      }

      &__url {
        border-radius: 50px 0 0 50px;
        border-right: 1px solid #cccccc;
      }

      &__email {
        margin-right: auto;
        border-left: 1px solid #cccccc;
        border-radius: 0 50px 50px 0;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;

    .background {

      &__img {
        position: absolute;
        top: 0;
        right: 15%;
        height: 100%;
      }
    }
  }
}

.plans {
  background: #fafafa;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
  }

  &__text {
    margin-bottom: 55px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 580px;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 80px;
    background: $white;
    font-family: 'Gilroy Medium';
    transition: all .3s ease-out;

    &:hover {
      box-shadow: 15px 25px 70px -5px rgba(#000000, .1);
      padding: 100px 80px;

      .item__title {
        color: $orange;
      }
    }

    .item {

      &__title {
        font-family: 'Gilroy Regular';
        margin-bottom: 20px;
        transition: all .3s ease-out;
      }

      &__price {
        display: flex;
        margin-bottom: 20px;
        font-size: 1.15em;

        span {
          display: inline-block;

          &:nth-child(1) {
            line-height: 35px;
            margin-right: 5px;
          }

          &:nth-child(2) {
            line-height: 100%;
            font-size: 3.85em;
          }

          &:nth-child(3) {
            line-height: 35px;
            align-self: flex-end;
          }
        }
      }

      &__options {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin-bottom: 30px;

        .options__item {
          line-height: 2.5em;
        }
      }
    }

    .button {
      width: 100%;
    }
  }
}

.team {
  padding: 50px 0 100px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
  }

  &__member {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 70px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    background: $white;
    transition: .3s ease-out;

    &:hover {
      box-shadow: 15px 20px 50px 0px rgba(#000000, .1);
      border-color: $white;
    }

    .member {

      &__photo {
        max-width: 130px;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 14px;
      }

      &__name {
        font-family: 'Gilroy Bold', sans-serif;
        font-size: 1.25em;
        line-height: 1.5em;
      }

      &__role {
        font-family: 'Gilroy Medium';
        font-size: 0.85em;
        color: #888888;
        margin-bottom: 18px;
      }
    }
  }
}

.testimonials {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;

  &__text {
    max-width: 450px;
    margin-bottom: 50px;
    color: $darkgray;
    text-align: center;
    line-height: 1.5em;
  }

  &__slider {

    .swiper-wrapper {
      margin-bottom: 30px;
      list-style: none;
    }

    .swiper-slide {
      padding: 0 15px;
      max-width: 570px;
      opacity: 0.5;

      &-active, &-next {
        opacity: 1;
      }

      &-active .slide__inner {
        box-shadow: 15px 25px 60px -10px rgba(#000000, .1);
        border-color: $white;
      }
    }

    .slide__inner {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      border: 2px solid #eeeeee;
      padding: 25px 30px;
      transition: .3s ease-out;

      &::after {
        position: absolute;
        content: url(../img/quotes.svg);
        z-index: -1;
      }

      .item {

        &__text {
          margin-bottom: 30px;
          color: #888888;
          line-height: 1.5em;
          text-align: center;
        }

        &__photo {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          margin-bottom: 10px;
        }

        &__person-name, &__person-profi {
          font-size: 0.85em;
          line-height: 1.4em;
        }

        &__person-name {
          font-family: 'Gilroy Semibold';
        }

        &__person-profi {
          font-family: 'Gilroy Medium';
          color: #888888;
        }
      }
    }

    .slider__dots {
      position: relative;
      bottom: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 12px;

      .dot {
        display: block;
        width: 8px;
        height: 8px;
        margin: 0 6px;
        border-radius: 50%;
        background: #dddddd;
        cursor: pointer;
        transition: all .2s;

        &--active {
          transform: scale(1.5);
          background: $orange;
        }
      }
    }
  }
}

.blog {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;

  &__text {
    max-width: 570px;
    margin-bottom: 50px;
    color: $darkgray;
    text-align: center;
    line-height: 1.5em;
  }

  &__slider {

    .swiper-wrapper {
      margin-bottom: 30px;
      list-style: none;
    }

    .swiper-slide {
      padding: 0 15px;
      max-width: 800px;
      opacity: 0.5;

      .item__content .item__link {
        display: none;
      }

      &-active {
        opacity: 1;

        .slide__inner {
          box-shadow: 15px 25px 60px -10px rgba(#000000, .1);
          border-color: $white;
        }

        .item__content .item__link {
          display: inline-block;
        }
      }
    }

    .slide__inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 330px;
      border: 2px solid #eeeeee;
      transition: .3s ease-out;

      .item {

        &__img-wrapper {
          position: relative;
          flex-basis: 370px;
          flex-grow: 1;
          flex-shrink: 0;
          height: 100%;
          overflow: hidden;

          .item__img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        &__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 30px;
        }

        &__title {
          margin-bottom: 20px;
          font-family: 'Gilroy Bold', sans-serif;
          line-height: 1.5em;
        }

        &__info {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          max-width: 280px;

          .info {

            &__author, &__likes-counter, &__comments-counter {
              display: flex;
              align-items: center;
              position: relative;
              padding-left: 20px;
              color: #888888;
              font-family: 'Gilroy Medium', sans-serif;
              font-size: 0.75em;
              line-height: 1.35em;

              &::before {
                position: absolute;
                left: 0;
                height: 100%;
              }
            }

            &__author::before {
              content: url(../img/person-icon.svg);
              top: 12%;
            }

            &__likes-counter::before {
              content: url(../img/heart-icon.svg);
              top: 12%;
            }

            &__comments-counter::before {
              content: url(../img/message-icon.svg);
              top: 8%;
            }
          }
        }

        &__text {
          margin-bottom: 25px;
          color: $darkgray;
          font-family: 'Gilroy Medium', sans-serif;
          font-size: 0.95em;
          line-height: 1.45em;
        }

        &__link {
          font-family: 'Gilroy Bold';
          font-size: 0.75em;
          color: $black;
          text-decoration: none;
          transition: .15s ease-in-out;

          &:hover {
            color: $orange;
          }
        }
      }
    }

    .slider__dots {
      position: relative;
      bottom: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 12px;

      .dot {
        display: block;
        width: 8px;
        height: 8px;
        margin: 0 6px;
        border-radius: 50%;
        background: #dddddd;
        cursor: pointer;
        transition: all .2s;

        &--active {
          transform: scale(1.5);
          background: $orange;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  background: #f3f3f3;

  &__inner {
    display: flex;
    column-gap: 50px;
    padding: 100px 0 100px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 270px;

    .logo {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      font: 1.5em 'Gilroy Bold';
      text-decoration: none;

      &__img {
        margin-right: 14px;
      }

      &__text {
        color: #000000;

        & span {
          color: #f25822;
        }
      }
    }

    .info__text {
      margin-bottom: 25px;
      color: $darkgray;
      font-family: 'Gilroy Medium';
      line-height: 1.6em;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    .links {

      &__title {
        font-family: 'Gilroy Bold';
        line-height: 1.67em;
        margin-bottom: 40px;
      }

      &__list {
        margin-left: 18px;
      }

      &__item {
        margin-bottom: 20px;
        font-family: 'Gilroy Medium';
        color: $darkgray;

        &:nth-last-child(1) {
          margin-bottom: 0;
        }

        &::marker {
          color: $orange;
        }
      }

      &__link {
        color: $darkgray;
        text-decoration: none;
        transition: color .2s;

        &:hover {
          color: $orange
        }
      }

      &--contacts {

        .links__list {
          list-style: none;
          margin-left: 0;
        }

        .links__item > span {
          font-family: 'Gilroy Bold', sans-serif;
          color: $black;
        }
      }
    }
  }

  .copyright {
    padding: 20px 0;
    color: #888888;
    font-family: 'Gilroy Medium', sans-serif;
    text-align: center;
    border-top: 1px solid #cccccc;
  }
}


















.social {

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 130px;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: .15s ease-in-out;

    &:hover {
      background: $orange;

      .social__link > svg > path {
        fill: $white;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    svg > path {
      transition: .15s ease-in-out;
    }
  }
}
