// ===== FONTS =====
@font-face {
  font-family: 'Gilroy Regular';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url('../fonts/Gilroy-Medium.eot');
  src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Medium.woff') format('woff'),
  url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Semibold';
  src: url('../fonts/Gilroy-SemiBold.eot');
  src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-SemiBold.woff') format('woff'),
  url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url('../fonts/Gilroy-Bold.eot');
  src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Bold.woff') format('woff'),
  url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// ===== VARS =====
// ----- Colors -----
$trueblack: #000;
$black: #131313;
$gray-700: #666;
$gray-600: #888;
$gray-500: #aaa;
$gray-400: #ccc;
$gray-300: #ddd;
$gray-200: #eee;
$gray-100: #fafafa;
$white: #fff;

$orange: #f25822;
$orange-light: #fcd5c8;

$green: #149211;
$green-light: #c4e4c3;

$yellow: #ffcd1d;
$yellow-light: #fff2c6;
// ----- /Colors -----
// ----- Font Sizes -----
$fs-primary: 16px;
// ----- /Font Sizes -----
// ----- Line Heights -----
$lh-primary: 24px;
// ----- /Line Heights -----
// ===== /VARS =====
// ===== MIXINS =====
@mixin titleFont($title-fs, $title-lh) {
  font-size: $title-fs;
  line-height: $title-lh;
}
// ===== /MIXINS =====
// ===== COMMON =====
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: $fs-primary/$lh-primary 'Gilroy Regular', sans-serif;
}

body {
  min-height: 100vh;
  color: $black;
}
// ----- Titles -----
h1, h2, h3, h4, h5, h6 {
  color: $black;
  font-family: 'Gilroy Bold', sans-serif;
}

h1 {
  @include titleFont(3.75rem, 4.375rem);
}

h2 {
  @include titleFont(2.82em, 3.3rem);
}

h3 {
  @include titleFont(1.5rem, 1.75rem);
}

h4 {
  @include titleFont(1.25rem, 1.875rem);
}
// ----- /Titles -----
%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%background-img {
  position: absolute;
  top: 0;
  z-index: -1;
}

%card--3-in-line {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 370px;
  background: $white;
  transition: .3s ease-out;
}

.section {
  position: relative;
  padding: 100px 0;
  overflow: hidden;

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    color: $gray-700;
    font: 1rem/1.5rem 'Gilroy Regular', sans-serif;
    margin-bottom: 55px;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;
  padding: 0 25px;
}

.button {
  @extend %flex-centered;

  flex-shrink: 0;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font: .875rem/1.3125rem 'Gilroy Bold', sans-serif;
  cursor: pointer;
  transition: .2s ease;

  &--primary {
    background: $orange-light;
    color: $orange;

    &:hover {
      background: $orange;
      color: $white;
      box-shadow: 4px 4px 8px rgba($orange, .3);
    }

    &:disabled {
      color: $gray-500;
      background: $gray-200;

      &:hover {
        box-shadow: none;
      }
    }
  }

  &--secondary {
    background: transparent;
    color: $gray-500;

    &:hover {
      color: $black;
    }
  }
}

.main-logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font: 1.5rem 'Gilroy Bold', sans-serif;
  text-decoration: none;

  &__img {
    margin-right: .875rem;
  }

  &__text {
    color: $trueblack;

    & > span {
      color: $orange;
    }
  }
}

.social {

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 130px;
    list-style: none;
  }

  &__item {
    @extend %flex-centered;

    flex: 0 0 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: .15s ease;

    &:hover {
      background: $orange;

      .social__link > svg > path {
        fill: $white;
      }
    }
  }

  &__link {
    @extend %flex-centered;

    svg > path {
      transition: .15s ease;
    }
  }
}
// ===== /COMMON =====

// ===== HEADER =====
.header {
  position: fixed;
  width: 100%;
  background: $white;
  z-index: 1000;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }

  &__menu {
    display: flex;
    margin-left: auto;
    list-style: none;
  }

  .button {
    width: 120px;
    height: 40px;
    margin-left: 30px;
    font: .75rem/normal 'Gilroy Semibold', sans-serif;
  }
}

.menu {

  &__item {

    & + & {
      margin-left: 30px;
    }
  }

  &__link {
    color: $black;
    font: .875rem/1.3125rem 'Gilroy Semibold', sans-serif;
    text-decoration: none;
    white-space: nowrap;
    transition: .2s;

    &:hover {
      color: $orange;
    }
  }
}
// ===== /HEADER =====

.main {
  position: relative;
  padding-top: 120px;
}

// ===== HOMEPAGE =====
.homepage {
  padding: 0;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 580px;
    height: 580px;
    padding-right: 40px;
    background: $white;
    background: linear-gradient(90deg, rgba($white, .9) 75%, rgba($white, .5) 90%, rgba($white, 0) 100%);
  }

  .section__title {
    margin-bottom: 30px;

    & > span {
      position: relative;
      z-index: 1;

      &::after {
        position: absolute;
        top: 5%;
        left: -5%;
        content: '';
        width: 110%;
        height: 100%;
        background: transparent;
        border: 1px solid $orange;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }

  .section__text {
    margin-bottom: 40px;
    font: 1.25rem/1.5rem 'Gilroy Medium', sans-serif;
  }

  &__controls {
    display: flex;

    .button + .button {
      margin-left: 30px;
    }

    .button--secondary {

      .button__icon {
        margin-right: 15px;

        circle {
          transition: .2s ease;
        }
      }

      &:hover {

        .button__icon > circle {
          stroke: $black;
        }
      }
    }
  }

  .background {

    &__img {
      @extend %background-img;

      left: 53%;
    }

    &__polygon {

      &--1, &--2, &--3 {
        position: absolute;
        z-index: -1;
        animation: scaling ease-in-out infinite;

        .polygon__svg {
          animation: rotation linear infinite;
        }
      }

      &--1 {
        top: 22%;
        left: -16%;
        animation-duration: 4s;

        .polygon__svg {
          animation-duration: 4.8s;
        }
      }

      &--2 {
        top: 9%;
        left: 107%;
        animation-duration: 5.3s;

        .polygon__svg {
          animation-duration: 5.5s;
        }
      }

      &--3 {
        bottom: 28%;
        left: 95%;
        animation-duration: 6.5s;

        .polygon__svg {
          animation-duration: 3.9s;
        }
      }
    }
  }
}
// ===== /HOMEPAGE =====
// ===== BRANDS =====
.brands {

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__link {
    padding: 10px;
    text-decoration: none;

    &:hover .brands__img {
      filter: sepia(50%);
    }
  }

  &__img {
    transition: .2s;
  }
}
// ===== /BRANDS =====
// ===== ABOUT US =====
.about-us {
  padding: 0;
  background: $gray-100;
  z-index: 0;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 515px;
    height: 540px;
  }

  .background {

    &__img {
      @extend %background-img;

      left: 50%;
    }

    &__wave {

      &-1, &-2 {
        @extend %background-img;
      }

      &-1 {
        left: 0;
        animation: waving-1 17s ease-in-out infinite;
      }

      &-2 {
        left: -1080px;
        animation: waving-2 20s ease-in-out infinite;
      }
    }
  }
}
// ===== /ABOUT US =====
// ===== FEATURES =====
.features {

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    @extend %card--3-in-line;

    padding: 125px 30px 30px;

    & + & {
      margin-left: 30px;
    }

    &::before {
      position: absolute;
      top: 30px;
      left: 30px;
      content: '';
      width: 70px;
      height: 70px;
      border-radius: 15px;
    }

    &:nth-child(1)::before {
      background: $orange-light
                  url(../img/card-icon-1.svg) center no-repeat;
    }

    &:nth-child(2)::before {
      background: $green-light
                  url(../img/card-icon-2.svg) center no-repeat;
    }

    &:nth-child(3)::before {
      background: $yellow-light
                  url(../img/card-icon-3.svg) center no-repeat;
    }

    &:hover {
      box-shadow: 15px 25px 56px 6px rgba($trueblack, .1);
    }
  }

  .card {

    &__title {
      margin-bottom: 18px;
    }

    &__text {
      margin-bottom: 25px;
      color: $gray-700;
      font: .875rem/1.3125rem 'Gilroy Regular', sans-serif;
    }

    &__link {
      margin-top: auto;
      color: $black;
      font: .75rem/1rem 'Gilroy Bold', sans-serif;
      text-decoration: none;
      transition: .15s ease-in-out;

      &:hover {
        color: $orange;
      }
    }
  }
}
// ===== /FEATURES =====
// ===== SERVICES =====
.services {
  background: $gray-100;

  &__inner {
    @extend %flex-centered;

    flex-direction: column;
    text-align: center;
  }

  .section__text {
    width: 100%;
    max-width: 682px;
  }

  &__cards-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    @extend %card--3-in-line;

    align-items: center;

    & + & {
      margin-left: 30px;
    }

    .card {

      &__img {
        width: 100%;
        max-width: 370px;
      }

      &__inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0 30px 50px;
      }

      &__title {
        margin-bottom: 20px;
      }

      &__text {
        flex: 1;
        margin-bottom: 40px;
        color: $gray-700;
        font: .875rem/1.3125rem 'Gilroy Regular', sans-serif;
      }
    }

    .button {
      margin: 0 auto;

      .button__icon {
        margin: 1px 0 0 6px;

        & > path {
          transition: .2s ease-in-out;
        }
      }

      &:hover .button__icon {

        & > path {
          stroke: $white;
        }
      }
    }

    &:hover {
      box-shadow: 15px 25px 60px -5px rgba($trueblack, .1);
    }
  }
}
// ===== /SERVICES =====
// ===== WHAT WE DO =====
.what-we-do {

  .background__img {
    @extend %background-img;

    left: -33%;
  }

  &__inner {
    width: 100%;
    max-width: 630px;
    margin-left: auto;
    padding-left: 60px;
    background: $white;
    background: linear-gradient(90deg, rgba($white, 0) 0%, $white 10%);
  }

  .section__text {
    margin-bottom: 44px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    position: relative;
    padding: 30px 30px 30px 160px;
    border-radius: 6px;
    background: transparent;
    transition: .3s ease-out;

    & + & {
      margin-top: 30px;
    }

    &::before {
      position: absolute;
      top: 17px;
      left: 30px;
      content: '';
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    &:nth-child(1)::before {
      background: $orange-light
                  url(../img/item-icon-1.svg) center no-repeat;
    }

    &:nth-child(2)::before {
      background: $green-light
                  url(../img/item-icon-2.svg) center no-repeat;
    }

    &:nth-child(3)::before {
      background: $yellow-light
                  url(../img/item-icon-3.svg) center no-repeat;
    }

    &:hover {
      background: $white;
      box-shadow: 15px 25px 60px -5px rgba($trueblack, .1);
    }

    .item {

      &__title {
        margin-bottom: 8px;
      }

      &__text {
        color: $gray-700;
        font: .875rem/1.3125rem 'Gilroy Regular', sans-serif;
      }
    }
  }
}
// ===== /WHAT WE DO =====
// ===== FACTS =====
.facts {

  &__list {
    display: flex;
    justify-content: space-between;
    border: 2px solid $gray-200;
    padding: 40px 0;
    list-style: none;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 100%;
    color: $gray-700;

    & + &::before {
      position: absolute;
      top: calc(50% - 7px);
      left: calc(0% - 7px);
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 50%;
    }

    &:nth-child(2)::before {
      background: $orange;
    }

    &:nth-child(3)::before {
      background: $green;
    }

    &:nth-child(4)::before {
      background: $yellow;
    }

    .item {

      &__value {
        font: 4.375rem 'Gilroy Bold', sans-serif;
      }

      &__description {
        font: 1.125rem/1.7rem 'Gilroy Semibold', sans-serif;
      }
    }
  }
}
// ===== /FACTS =====
// TODO: STAYED HERE!
// ===== CHECKING =====
.checking {

  .background__img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  &__inner {
    padding: 135px 0;
    width: 570px;
    min-width: 0;
    background: $white;
    background: linear-gradient(90deg, rgba($white, .9) 75%, rgba($white, .5) 90%, rgba($white, 0) 100%);
  }

  &__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .form {

      &__url, &__email {
        width: 200px;
        height: 50px;
        border: none;
        padding: 15px 20px;
        background: $gray-200;
        color: $gray-700;
        font: 0.75rem/1rem 'Gilroy Medium', sans-serif;

        &:focus {
          outline: none;
          background-color: $white;
        }
      }

      &__url {
        border-radius: 50px 0 0 50px;
        border-right: 1px solid $gray-400;
      }

      &__email {
        margin-right: auto;
        border-left: 1px solid $gray-400;
        border-radius: 0 50px 50px 0;
      }
    }
  }
}
// ===== /CHECKING =====
// ===== PLANS =====
.plans {
  padding: 100px 0;
  background: $gray-100;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 580px;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 370px;
    padding: 65px 80px;
    background: $white;
    font-family: 'Gilroy Medium';
    transition: all .3s ease-out;

    &:hover {
      box-shadow: 15px 25px 70px -5px rgba($trueblack, .1);
      padding: 100px 80px;

      .item__title {
        color: $orange;
      }
    }

    .item {

      &__title {
        margin-bottom: 20px;
        font-family: 'Gilroy Regular';
        transition: all .3s ease-out;
      }

      &__price {
        display: flex;
        margin-bottom: 20px;
        font-size: 1.125rem;

        span {
          display: inline-flex;

          &:nth-child(1) {
            line-height: 2.4rem;
            margin-right: 5px;
          }

          &:nth-child(2) {
            line-height: 100%;
            font-size: 4.375rem;
          }

          &:nth-child(3) {
            line-height: 2.2rem;
            align-self: flex-end;
          }
        }
      }

      &__options {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        list-style: none;

        .options__item {
          line-height: 2.5rem;
        }
      }
    }

    .button {
      width: 100%;
    }
  }
}
// ===== /PLANS =====
// ===== TEAM =====
.team {
  padding: 100px 0 100px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__text {
    width: 460px;
    min-width: 0;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
  }

  &__member {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 270px;
    margin: 0 0 30px 0;
    padding: 50px 70px;
    outline: 1px solid $gray-200;
    border-radius: 4px;
    background: $white;
    transition: .3s ease-out;

    & + & {
      margin-left: 30px;
    }

    &:hover {
      box-shadow: 15px 20px 50px 0px rgba($trueblack, .1);
      border-color: $white;
    }

    .member {

      &__photo {
        flex: 0 1 130px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 14px;
      }

      &__name {
        font: 1.25rem/1.875rem 'Gilroy Bold', sans-serif;
      }

      &__role {
        color: $gray-600;
        font: 0.875rem/1.375rem 'Gilroy Medium', sans-serif;
        margin-bottom: 18px;
      }
    }
  }
}
// ===== /TEAM =====
// ===== TESTIMONIALS ======
.testimonials {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;

  .section__text {
    width: 460px;
    min-width: 0;
    text-align: center;
  }

  .swiper {
    margin: 0;
  }

  &__slider {

    .slider__wrapper {
      margin-bottom: 30px;
      list-style: none;
    }

    .slider__slide {
      padding: 0 15px;
      width: 600px !important;
      min-width: 0px;
      opacity: .5;
    }

    .swiper-slide-active, .swiper-slide-next {
      opacity: 1;
    }

    .swiper-slide-active .slide__inner {
      box-shadow: 15px 25px 60px -10px rgba($trueblack, .1);
      border-color: $white;
    }

    .slide__inner {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      // width: 570px;
      min-width: 100%;
      border: 2px solid $gray-200;
      padding: 25px 30px;
      transition: .3s ease-out;

      &::after {
        position: absolute;
        content: url(../img/quotes.svg);
        z-index: -1;
      }

      .item {

        &__text {
          margin-bottom: 30px;
          color: $gray-700;
          line-height: 1.5rem;
          text-align: center;
        }

        &__photo {
          width: 100%;
          max-width: 50px;
          height: 50px;
          margin-bottom: 10px;
          border-radius: 50%;
          overflow: hidden;
        }

        &__person-name, &__person-profi {
          font-size: 0.875rem;
          line-height: 1.375rem;
        }

        &__person-name {
          font-family: 'Gilroy Semibold';
        }

        &__person-profi {
          font-family: 'Gilroy Medium';
          color: $gray-600;
        }
      }
    }

    .slider__dots {
      @extend %flex-centered;
      position: relative;
      bottom: 0 !important;
      height: 12px;

      .dot {
        display: block;
        width: 8px;
        height: 8px;
        margin: 0 6px;
        border-radius: 50%;
        background: $gray-300;
        cursor: pointer;
        transition: all .2s;

        &--active {
          transform: scale(1.5);
          background: $orange;
        }
      }
    }
  }
}
// ===== /TESTIMONIALS ======
.blog {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;

  &__text {
    width: 570px;
    margin-bottom: 50px;
    color: $gray-700;
    text-align: center;
    line-height: 1.5em;
  }

  &__slider {

    .swiper-wrapper {
      margin-bottom: 30px;
      list-style: none;
    }

    .swiper-slide {
      padding: 0 15px;
      max-width: 800px;
      opacity: 0.5;

      .item__content .item__link {
        display: none;
      }

      &-active {
        opacity: 1;

        .slide__inner {
          box-shadow: 15px 25px 60px -10px rgba(#000000, .1);
          border-color: $white;
        }

        .item__content .item__link {
          display: inline-block;
        }
      }
    }

    .slide__inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 330px;
      border: 2px solid #eeeeee;
      transition: .3s ease-out;

      .item {

        &__img-wrapper {
          position: relative;
          flex-basis: 370px;
          flex-grow: 1;
          flex-shrink: 0;
          height: 100%;
          overflow: hidden;

          .item__img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        &__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 30px;
        }

        &__title {
          margin-bottom: 20px;
          font-family: 'Gilroy Bold', sans-serif;
          line-height: 1.5em;
        }

        &__info {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          max-width: 280px;

          .info {

            &__author, &__likes-counter, &__comments-counter {
              display: flex;
              align-items: center;
              position: relative;
              padding-left: 20px;
              color: #888888;
              font-family: 'Gilroy Medium', sans-serif;
              font-size: 0.75em;
              line-height: 1.35em;

              &::before {
                position: absolute;
                left: 0;
                height: 100%;
              }
            }

            &__author::before {
              content: url(../img/person-icon.svg);
              top: 12%;
            }

            &__likes-counter::before {
              content: url(../img/heart-icon.svg);
              top: 12%;
            }

            &__comments-counter::before {
              content: url(../img/message-icon.svg);
              top: 8%;
            }
          }
        }

        &__text {
          margin-bottom: 25px;
          color: $gray-700;
          font-family: 'Gilroy Medium', sans-serif;
          font-size: 0.95em;
          line-height: 1.45em;
        }

        &__link {
          font-family: 'Gilroy Bold';
          font-size: 0.75em;
          color: $black;
          text-decoration: none;
          transition: .15s ease-in-out;

          &:hover {
            color: $orange;
          }
        }
      }
    }

    .slider__dots {
      @extend %flex-centered;
      position: relative;
      bottom: 0 !important;
      height: 12px;

      .dot {
        display: block;
        width: 8px;
        height: 8px;
        margin: 0 6px;
        border-radius: 50%;
        background: #dddddd;
        cursor: pointer;
        transition: all .2s;

        &--active {
          transform: scale(1.5);
          background: $orange;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  background: #f3f3f3;

  &__inner {
    display: flex;
    column-gap: 50px;
    padding: 100px 0 100px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 270px;

    .logo {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      font: 1.5em 'Gilroy Bold';
      text-decoration: none;

      &__img {
        margin-right: 14px;
      }

      &__text {
        color: #000000;

        & span {
          color: #f25822;
        }
      }
    }

    .info__text {
      margin-bottom: 25px;
      color: $gray-700;
      font-family: 'Gilroy Medium';
      line-height: 1.6em;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    .links {

      &__title {
        font-family: 'Gilroy Bold';
        line-height: 1.67em;
        margin-bottom: 40px;
      }

      &__list {
        margin-left: 18px;
      }

      &__item {
        margin-bottom: 20px;
        font-family: 'Gilroy Medium';
        color: $gray-700;

        &:nth-last-child(1) {
          margin-bottom: 0;
        }

        &::marker {
          color: $orange;
        }
      }

      &__link {
        color: $gray-700;
        text-decoration: none;
        transition: color .2s;

        &:hover {
          color: $orange
        }
      }

      &--contacts {

        .links__list {
          list-style: none;
          margin-left: 0;
        }

        .links__item > span {
          font-family: 'Gilroy Bold', sans-serif;
          color: $black;
        }
      }
    }
  }

  .copyright {
    padding: 20px 0;
    color: #888888;
    font-family: 'Gilroy Medium', sans-serif;
    text-align: center;
    border-top: 1px solid #cccccc;
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes waving-1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1080px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes waving-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1080px);
  }
  100% {
    transform: translateX(0);
  }
}
